.box{
    color: #5cb85c;
}
.box span{
    /*层级选择器*/
    color: #2a6496;
    font-weight: bold;
}
.box .span02{
    /*两个类选择器之间记得使用空格隔开才能生效*/
    color: #5e5e5e;
    font-size: 30px;
}
.box2{
    color: #007aff;
}
.box3{
    color: #ac2925;
}
.box4:before{
    /*伪元素选择器有before和after,*/
    content: "☛";
}
.box5:after{

    content: "☚";
}
.box,.box2,.box3,.box4{

    font-size: 20px;
    text-indent: 40px;
}
.link{
    font-size: 30px;
    color: #ac2925;
    text-decoration: none;
}
.link:hover{
    /*伪类选择器有hover*/
    color: gold;
    font-weight: bold;
}