.box2{
    width: 160px;
    height: 160px;
    background: #007aff;

    border: 10px solid #000000;
    padding: 20px;



}

.box3{
    width: 380px;
    height: 35px;

    font-size: 20px;
    color: #333333;
    font-weight: normal;
    line-height: 20px;
    font-family: "Microsoft YaHei UI Light";


    border-top: 1px #f00 solid;
    border-bottom: 3px #666 solid;


    padding-top: 15px;
    padding-left: 20px;


}


.box4{
    width: 400px;
    height: 50px;
    border-top: 1px #f00 solid;
    border-bottom: 3px #666 solid;

    font-size: 20px;
    color: #333333;
    font-weight: normal;
      /*-----*/
    line-height: 50px;
    text-indent: 20px;
    font-family: "Microsoft YaHei UI Light";



}