.box{
    height: 200px;
    width: 200px;
    background: #007aff;

    margin: 200px auto 200px;
}

.box1{
    /*height: 200px;*/
    /*width: 200px;*/
    /*background: #007aff;*/
    /*margin-left: -50px;*/

    width: 202px;
    height: 156px;
    background: pink;
    margin: 50px auto 0px;

}
.box1 div{
    width: 200px;
    height: 30px;
    border: 1px solid green;
    /*border-bottom: 0px;*/
    background: gold;
    margin-top: -1px;

}
.box1  .last{
    border-bottom: 1px solid green;

}

body{
    margin: 0px;
}
.box2, .box3{
    width: 200px;
    height: 200px;
    background: gold;
}
.box2 {
    margin-bottom: 20px;
}